/* esto se usa para 
quitar margenes y poner por defecto cosas
dejo sin espacios en blanco la pagina 
y todo ajustadito*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* a単adimos fuentes
la font-family puede ser cualquier nombre*/
@font-face {
  font-family: PopLight;
  src: url(./Fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: PopRegular;
  src: url(./Fonts/Poppins-Regular.ttf);
}

/* Implementamos la fuente*/
body {
  font-family: PopLight;
}

.portofolio {
  color: white;
  background: radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1));
  /*el ultimo de rbga es la opacidad entre 0 y 1*/
}

nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.logo {
  font-size: 22px;
}

.page {
  min-height: 88.9vh;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
  /*el grid template crea una grilla de 5% a los lados
  y 3 columnas vacias con el resto del espacio */
}
/* para que solo quede la pagina de la fotografa*/
.chef,
.hairstyle {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  opacity: 0%; /*esconde las imagenes*/
  pointer-events: none; /*no permite clicar*/
}

.hero {
  overflow: hidden; /**esto hace que se que esconda para el js*/
  height: 500px;
  /*width: 500px;*/
  align-self: center;
  justify-self: center;
  display: flex;
  /* display flex hace que se junten las imagenes
  pero se da単a cuando ponemos el hero a, que
  se corrige a continuacion*/
}

/*para el movimiento de las imagenes*/
.hero img {
  height: 400px;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}

.hero a {
  display: flex;
}

.model-right {
  transform: translate(0%, 8%); /**/
}
.hero:hover .model-right {
  transform: translate(0%, 0%);
}
.model-left {
  transform: translate(0%, -8%); /**/
}
.hero:hover .model-left {
  transform: translate(0%, 0%);
}
/*termina el movimiento*/
.details {
  grid-column: 2/3;
  /* reorganiza la grilla */
  align-self: end;
  /* pone el texto debajo de la foto*/
}

.details h1 {
  font-size: 64px;
  font-family: PopRegular;
}

.details h2 {
  font-size: 42px;
  padding: 20px 0px;
}

.details p {
  font-size: 24px;
  padding: 10px 0px 50px 0px;
}
/*esto modifica los botones*/
.pages {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.pages > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages h3 {
  font-size: 24px;
  padding: 30px;
}

.pages svg {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(2);
}
/*crea animacion para botones*/
.pages svg:hover {
  animation: dot 0.5s ease-out infinite alternate;
}

.pages svg.active {
  opacity: 1;
}

@keyframes dot {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(4);
  }
}

/*Para la pagina de photo*/

.banner {
  height: 50vh;
  width: 100%;
  position: relative;
}
/*posiciona la imagen*/
.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.author {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: rgb(68, 39, 116);
  text-shadow: 2px 2px 2px rgba(62, 12, 95, 0.5);
  text-align: center;
}

.author h1 {
  font-size: 42px;
}
.author h3 {
  padding: 10px 0px;
  font-size: 32px;
}

.story,
.my-work {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 80px 0px;
}

.story-description,
.work-description {
  width: 50%;
}

.story-description h3,
.work-description h3 {
  font-size: 36px;
  padding-bottom: 30px;
}

.story-description p,
.work-description p {
  font-size: 20px;
  padding: 20px 0px;
}

.work-gallery {
  display: grid;
  grid-template-columns: repeat(3, 200px);
}
.work-gallery img {
  width: 100%;
}
/*PAra que no se da単e el formato al reducir pantalla
es la parte responsive*/
@media (max-width: 1024px) {
  .page {
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 2fr 1fr;
    align-items: center;
  }
  .hero {
    grid-column: 2/3;
    height: auto;
  }
  .hero img {
    height: 500px;
  }
  .details {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
  }
  .details h1 {
    font-size: 48px;
  }
  .details h2 {
    font-size: 38px;
  }
  .story,
  .my-work {
    flex-direction: column;
  }
  .story-description,
  .work-description {
    width: 100%;
  }
  .work-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .profile {
    padding-top: 30px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .hero img {
    height: 300px;
  }
  .details h1 {
    font-size: 38px;
  }
  .details h2 {
    font-size: 28px;
  }
}

/* COmienza la parte para la barra de navegacion
se programa la barra abierta*/
.nav-open {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50vh;
  background: white;
  z-index: 1; /*sirve para que la barra tape lo de abajo*/
  color: black; /* muestra el texto*/
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
  justify-items: center;
  align-items: center;
  text-align: center;
  transform: translateY(-100%); /*este comando esconde la barra*/
}
/*mueve al centro las letras*/
.contact {
  grid-column: 2/3;
}

.nav-open h3 {
  font-size: 28px;
  padding-bottom: 40px;
}
.nav-open p {
  font-size: 18px;
}
/*esto ajusta el tama単o de las imagenes de redes sociales*/
.social-links img {
  padding: 0px 2px;
}

.logo,
.menu {
  z-index: 2;
}

.menu {
  cursor: pointer;
}
